@font-face {
  font-family: "Qatar2022 Arabic bold";
  src: url("Qatar2022Arabic-Heavy.eot");
  src: local("Qatar2022 Arabic Heavy"), local("Qatar2022Arabic-Heavy"),
    url("Qatar2022Arabic-Heavy.eot?#iefix") format("embedded-opentype"),
    url("Qatar2022Arabic-Heavy.woff2") format("woff2"),
    url("Qatar2022Arabic-Heavy.woff") format("woff"),
    url("Qatar2022Arabic-Heavy.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

.qatar-bold {
  font-family: "Qatar2022 Arabic bold";
}

@font-face {
  font-family: "Qatar2022 Arabic";
  src: url("Qatar2022Arabic-Bold.eot");
  src: local("Qatar2022 Arabic Bold"), local("Qatar2022Arabic-Bold"),
    url("Qatar2022Arabic-Bold.eot?#iefix") format("embedded-opentype"),
    url("Qatar2022Arabic-Bold.woff2") format("woff2"),
    url("Qatar2022Arabic-Bold.woff") format("woff"),
    url("Qatar2022Arabic-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Qatar2022 Arabic";
  src: url("Qatar2022Arabic-Thin.eot");
  src: local("Qatar2022 Arabic Thin"), local("Qatar2022Arabic-Thin"),
    url("Qatar2022Arabic-Thin.eot?#iefix") format("embedded-opentype"),
    url("Qatar2022Arabic-Thin.woff2") format("woff2"),
    url("Qatar2022Arabic-Thin.woff") format("woff"),
    url("Qatar2022Arabic-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Qatar2022 Arabic Book";
  src: url("Qatar2022Arabic-Book.eot");
  src: local("Qatar2022 Arabic Book"), local("Qatar2022Arabic-Book"),
    url("Qatar2022Arabic-Book.eot?#iefix") format("embedded-opentype"),
    url("Qatar2022Arabic-Book.woff2") format("woff2"),
    url("Qatar2022Arabic-Book.woff") format("woff"),
    url("Qatar2022Arabic-Book.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Qatar2022 Arabic";
  src: url("Qatar2022Arabic-Medium.eot");
  src: local("Qatar2022 Arabic Medium"), local("Qatar2022Arabic-Medium"),
    url("Qatar2022Arabic-Medium.eot?#iefix") format("embedded-opentype"),
    url("Qatar2022Arabic-Medium.woff2") format("woff2"),
    url("Qatar2022Arabic-Medium.woff") format("woff"),
    url("Qatar2022Arabic-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
